<%- include("partials/header") %> 

<div class="text-light" style="min-height: 94vh; background-color: #212329f2;">
  <div class="container">
    <section class="py-5 text-center container">
      <div class="row py-5">
        <div class="col-md-8 col-lg-6 mx-auto">
          <h1 class="mb-3">Discord Nodejs</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id suscipit voluptatibus minus. Temporibus eius, commodi iure molestias aspernatur, modi eveniet obcaecati cum expedita fuga est ducimus dolores veniam corporis doloribus illo minima quos placeat, fugiat perferendis.</p>
          <p>
            <a href="/auth/login" class="btn btn-primary my-2">Login with Discord</a>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>

<%- include("partials/footer") %> 
